* {
    margin: 0;
    padding: 0;
}

#formBook {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

table, th, td {
    border: solid 1px red;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}